/*------------------------------------------------------------------
Table of content
-------------------
1. Start Header Area
2. slider area start
3. full page slider for home version five start
4. features area css start
5. hot deals area css start
6. product
7. categories area
8. testimonial
9. blog
10. brand logo area
11. shop grid view
12. shop list view
13. product details
14. checkout
15. cart
16. wishlist
17. my account
18. compare
19. login register
20.about us
21. contact us
22. banner
23. parallax banner
24. modal
25. sidebar
26. footer
-------------------------------------------------------------------*/
/*------- Typography Style Start -------*/
/*------- google fonts -------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");






/*------- main menu start -------*/
.main-header-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*------- main menu start -------*/
    /*------- main menu start -------*/
}

@media only screen and (max-width: 767px) {
    .main-header-inner {
        display: block;
    }
}

.main-header-inner .category-toggle-wrap {
    -ms-flex-preferred-size: 355px;
    flex-basis: 355px;
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header-inner .category-toggle-wrap {
        -ms-flex-preferred-size: 218px;
        flex-basis: 218px;
    }
}

.main-header-inner .category-toggle-wrap .category-toggle {
    width: 100%;
    background-color: #d8373e;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}

.main-header-inner .category-toggle-wrap .category-toggle .cat-icon {
    width: 50px;
    line-height: 45px;
    text-align: center;
    background-color: #b8242a;
}

.main-header-inner .category-toggle-wrap .category-toggle .cat-icon i {
    color: #d8373e;
    font-size: 14px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
}

.main-header-inner .category-toggle-wrap nav.category-menu {
    border: 1px solid #d9d9d9;
    border-top: none;
    top: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu {
        position: absolute;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu {
        position: absolute;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul {
        max-height: 250px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 575px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul {
        max-height: 220px;
        overflow-y: auto;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li:last-child>a {
    border-bottom: none !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li {
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li {
        position: relative;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li.menu-item-has-children {
    position: relative;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li.menu-item-has-children>a::after {
    content: "\f105";
    position: absolute;
    right: 25px;
    top: 0;
    line-height: 50px;
    font-family: "FontAwesome";
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li.menu-item-has-children>a::after {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li.menu-item-has-children>a::after {
        display: none;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .menu-expand {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 50px;
    width: 40px;
    line-height: 50px;
    z-index: 9;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .menu-expand::before {
    background-color: #606060;
    width: 8px;
    height: 2px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -4px;
    margin-top: -1px;
    top: 50%;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .menu-expand::after {
    background-color: #606060;
    width: 2px;
    height: 8px;
    content: "";
    position: absolute;
    left: 50%;
    margin-top: -4px;
    margin-left: -1px;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .menu-expand.expand::after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li>a {
    display: block;
    padding: 10px 25px;
    line-height: 30px;
    font-size: 14px;
    color: #404040;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li>a i {
    padding-right: 10px;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li>a:hover {
    color: #ffffff;
    background-color: #d8373e;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li:hover .category-mega-menu {
    top: 0;
    z-index: 9;
    opacity: 1;
    visibility: visible;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .banner {
    padding: 15px;
    max-width: 300px;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu {
    position: absolute;
    left: 100%;
    top: 110%;
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px;
    opacity: 0;
    z-index: -9;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background-color: #ffffff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu {
        width: 600px;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu {
        position: static;
        z-index: 9;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0;
        width: 100%;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu {
        position: static;
        z-index: 9;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0;
        width: 100%;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li {
    float: left;
    width: 25%;
    padding: 0 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li {
        width: 50%;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding: 0;
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding: 0;
        position: relative;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>a {
        padding: 10px 25px 10px 35px;
        line-height: 30px;
        font-size: 14px;
        color: #606060;
        font-weight: 400;
        position: relative;
        margin: 0;
        text-transform: inherit;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>a {
        padding: 10px 25px 10px 35px;
        line-height: 30px;
        font-size: 14px;
        color: #606060;
        font-weight: 400;
        position: relative;
        margin: 0;
        text-transform: inherit;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li:last-child {
    border: none;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li:last-child {
    margin-bottom: 0;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li a {
    display: block;
    font-size: 14px;
    color: #606060;
    line-height: 30px;
    padding-bottom: 4px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li a {
        padding: 10px 25px 10px 45px;
        line-height: 30px;
        font-size: 14px;
        color: #606060;
        font-weight: 400;
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li a {
        padding: 10px 25px 10px 45px;
        line-height: 30px;
        font-size: 14px;
        color: #606060;
        font-weight: 400;
        position: relative;
    }
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li a:hover {
    color: #d8373e;
}

.main-header-inner .category-toggle-wrap nav.category-menu>ul>li .category-mega-menu>li>ul li:last-child a {
    border-bottom: 0;
}

.main-header-inner .category-toggle-wrap nav.category-menu.category-style-2 {
    display: none;
}

.main-header-inner .category-toggle-wrap nav.category-menu.static {
    position: static;
}

.main-header-inner .category-toggle-wrap nav.category-menu.hm-1 {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .main-header-inner .category-toggle-wrap nav.category-menu.hm-1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-inner .category-toggle-wrap.max-100 {
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        -ms-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}






@media only screen and (max-width: 767px) {
    .main-header-inner.header-2 .category-toggle-wrap {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}



/*------- menu responsive end --------*/















/*-------- category tab style start ---------*/
.category-tab ul.nav {
    border: 1px solid #e5e5e5;
}

.category-tab ul.nav li {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
    text-transform: capitalize;
    border-right: 1px solid #e5e5e5;
}

.category-tab ul.nav li i {
    color: #d8373e;
    padding: 0 10px;
}

@media only screen and (max-width: 575px) {
    .category-tab ul.nav li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 479px) {
    .category-tab ul.nav li {
        font-size: 14px;
    }

    .category-tab ul.nav li:last-child {
        border-right: none;
    }
}

.category-tab ul.nav li a {
    color: #444444;
    padding: 0 20px;
    display: block;
}

.category-tab ul.nav li a:hover,
.category-tab ul.nav li a.active {
    color: #d8373e;
}

.slick-arrow-style.arrow-space .slick-arrow {
    margin-right: 5px;
}

/*-------- category tab style end ---------*/
/*---------  start Hero slider-1 for home 1 -------*/








/*------- categories sidebar start -------*/
.sidebar-category {
    border: 1px solid #e5e5e5;
}

.sidebar-category ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-category ul li.title {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 46px;
    display: block;
    text-transform: uppercase;
    background-color: #d8373e;
}

.sidebar-category ul li.title i {
    padding-right: 8px;
}

.sidebar-category ul li:last-child {
    border-bottom: none;
}

.sidebar-category ul li a {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    display: inline-block;
    text-transform: capitalize;
}

.sidebar-category ul li:hover a {
    color: #d8373e;
}

/*------- categories sidebar end -------*/

